body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: center;
    height: 120px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 990px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    display: flex;
    align-items: center;

}
.menu ul{
    list-style: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    display: block;
    padding: 14px;
    color: #727272;
    border-radius: 3px;
}

nav a.active ,
nav a:hover{
    background-color: #39aae1;
    color: white;
}

#banner{
    display: flex;
    background-image: url('../image/img1.jpg');
    background-position: center;
    background-size: cover;
    height: 670px;
    justify-content: center;
}

.column{
    flex-direction: column;
}
.banner_headline{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
   
}

.banner_headline h1{
    color: #ffffff;
    font-size: 4.0625em;
    text-shadow: 2px 2px 2px #000000;
    margin: 0;
    padding: 0;
    max-width: 350px;
    margin-bottom: 30px;
}

.banner_headline h2{
    font-size: 1.3125em;
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    margin: 0;
    padding: 0;
    max-width: 350px;
}
.banner_options{
    display: flex;
    color: #ffffff;
}

.banner1, .banner2, .banner3{
    flex: 1;
    border-radius: 9px;
    padding: 20px;
}

.banner1{
    background-color: #39aae1;
}

.banner2{
    background-color: #0079c7
}

.banner3{
    background-color: #2b4cc9;
}

.banner_title{
    font-size:  1.3125em;
}

.banner_desc{
    margin: 20px 0 20px 0;
    font-size: 0.90em;
}

.banner_options a{
    display: inline-block;
    text-decoration: none;
    padding: 5px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 0.90em;
}

.banner_day_and_hours{
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #ffffff41;
    margin-top: 20px;
    font-size: 0.90em;
}

#geral{
    display: flex;
    justify-content: center;
}

#geral section{
    flex: 2;
}

#geral aside{
    flex: 1;
}

.widget_title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.widget_title_text{
    display: inline-block;
    font-weight: bold;
    padding-bottom: 6px;
    border-bottom: 3px solid #39aae1;
    font-size: 1.3125em;
    color: #000000;
    margin-bottom: 15px;
}

.widget_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.widget_box{
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    background-color: #39aae1;
   
}

.widget_body p{
    font-size: 0.90em;
}

.phone, .form{
    border-top: 2px solid #929292;
    padding-top:15px;
    padding-bottom: 15px;
    border-bottom: 2px solid #929292;
}

.instagram{
    border-top: 2px solid #929292;
    padding-top:15px;
}

.container_article{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex: 1;
    min-width: 300px;
    margin-right: 20px;
}
 article a{
    text-decoration: none;
}

article .news_data{
    display: flex;
}

article .news_posted_at{
    padding: 10px;
    font-size: 0.75em;
    background-color: #2b4cc9;
    color: #ffffff;
    margin-right: 10px;
}

article .news_comments{
    padding: 10px;
    font-size: 0.75em;
    background-color: #0079c7;
    color: #ffffff;
}

article .news_thumbnail{
    margin-top: 30px;
}

article .news_thumbnail img{
    width: 100%;
    height: auto;
}

article .news_title{
    margin-top: 25px;
    margin-bottom: 25px;
    color: #000000;
    font-size: 1.4375em;
}

article .news_resume{
    color: #5c5c5c;
    font-size: 0.90em;
    line-height: 1.5;
    margin-bottom: 30px;
}

footer{
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
}

.flexColumn{
    flex-direction: column;
}

.footer_menu{
    display: flex;
}
.fm_1,.fm_2,.fm_3{
    flex: 1;
    padding: 20px;
}

.fm_1{
    background-color: #39aae1;
}

.fm_2{
    background-color: #0079c7
}

.fm_3{
    background-color: #2b4cc9;
}

.footer_menu a{
    display: block;
    text-decoration: none;
    color: #ffffff;
}

.footer_menu p{
    text-decoration: underline;
    font-size: 0.75em;
}

.footer_area{
    display: flex;
    color: white;
    flex-wrap: wrap;
}

.footer_areaitem{
    display: flex;
    flex: 1;
    margin-top: 20px;
    flex-direction: column;
    flex-wrap: wrap;
}

.footer_areaitem_title{
    display: flex;
}

.footer_areaitem_title .footer_title{
    font-size: 1.25em;
}

.border_title{
    width: 45px;
    height: 2px;
    background-color:  #39aae1;
    margin-top: 10px;
    margin-bottom: 15px;
}

.footer_areaitem_desc{
    font-size: 0.75em;

}

.footer_areaitem_desc .footer_year{
    margin-top: 4px;
    color: #2b4cc9;
    margin-bottom: 22px;
}

.footer_location_contact{
    color: #929292;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.footer_copy{
    color: #929292;
    padding-top: 10px;
    padding-bottom: 15px;
    border-top: 1px solid #929292;
    margin-top:50px;
    font-size: 0.8em;
}

.menuMobile{
    display: none;
    height: 40px;
    width: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
}

.mm_line{
    height: 2px;
    background-color: #39aae1
}

@media (max-width: 600px){
    .container{
        flex-direction: column;
    }

    .banner_headline{
        margin-bottom: 200px ;
    }

    .banner_headline h1{
        font-size: 3.4em;
    }

    .banner_headline h2{
        font-size: 1.1em;
    }

    .banner_options{
        height: auto;
        flex-direction: column;
    }

    .column{
        margin-top: 70px;
        flex-direction: row;
    }

    #geral{
        padding: 20PX;
        margin-top: 350px;
        margin-bottom: 30px;
    }

    .footer_menu{
        flex-direction: column;
    } .footer_area{
        flex-direction: column;
        padding: 20px;
    }

    .footer_copy{
        padding-left: 20px;
    }

    header .container{
        flex-direction: row;
    }

    .menu ul{
        display: none;
        margin: 0;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff 
    }
    
    header{
        height: auto;
    }

    .logo{
        padding-left: 10px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}

@media (max-width:768px){
    header .container{
        flex-direction: row;
    }

    .menu ul{
        display: none;
        margin: 0;
        flex-direction: column;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: #ffffff 
    }
    
    header{
        height: auto;
    }

    .logo{
        padding-left: 10px;
    }

    .menuMobile{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

}